## Exercises on Pandas (with Claude)

1. How do you:
   - Import the pandas library?
   - Create a simple DataFrame from a dictionary?
   - Read a CSV file into a DataFrame?

In [3]:
# Importing the pandas library
import pandas as pd
#Create a simple DataFrame from a dictionary
df = pd.DataFrame({"Name": ['Samm', 'Vince', 'Rhian', 'Niel'], "BoD": ['November', 'May', 'December', "July"], "Age": ['22', "19", "18", "16"]})

# Read a CSV file into a DataFrame
cars = pd.read_csv('./car.csv')
display(cars)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

2. Create a DataFrame and:
- Display the first 2 rows
- Display basic information about the DataFrame
- Show basic statistics of numerical columns

In [ ]:
data = {
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'age': [28, 22, 35, 32],
    'city': ['New York', 'Paris', 'London', 'Tokyo']
}
claude = pd.DataFrame(data);

# Display the first 2 rows
claude.head(2)
# Display basic information about the DataFrame
claude.info();
# Show basic statistics of numerical columns
claude.describe()

3. Create a Series (Pandas' one-dimensional array) from a list of numbers [1,3,5,7,9]. Then:
- Calculate its mean
- Find its maximum value
- Add 2 to every number

In [ ]:
series = pd.Series([1,3,5,7,9])

# Calculate its mean
series.mean()
# Find its maximum value
series.max()
# Add 2 to every number
series.add(2)

4. How would you:
- See the first and last few rows?
- Get column names?
- Check for missing values?
- Get basic statistical information?

In [ ]:
tips = pd.read_csv('./claude-sample.csv')

# See the first and last few rows?
tips.head()
tips.tail()
# Get column names?
tips.columns.to_list()
# Check for missing values?
tips.isnull().sum()
# Get basic statistical information?
tips.describe()

5. With the same tips dataset:
- How many unique values are in the 'day' column?
- What's the average tip?
- What's the highest total bill?

In [ ]:
# How many unique values are in the 'day' column?
tips['day'].nunique()
# What's the average tip?
tips['tip'].mean()
# What's the highest total bill?
tips['total_bill'].max()

# Data Selection

6. Given a DataFrame 'df', how would you:
- Select a single column?
- Select multiple columns?
- Select rows based on a condition (e.g., age > 30)?

In [ ]:
import pandas as pd
coffee = pd.read_csv('./warmup-data/coffee.csv')

# Select a single column
display(coffee.iloc[0:, [0]]) # with iloc (index-based)
# Select multiple columns?
display(coffee.iloc[0:, [1, 2]]) # with iloc (index-based)
# Select rows based on a condition (e.g., age > 30)
coffee.loc[coffee['Units Sold'] > 20].sort_values(["Units Sold"], ascending=[1]) # added an order

7. Practice filtering:
- Find all rows where the tip is more than 5
- Find all rows where the day is 'Sun' and the time is 'Dinner'
- Find the average tip for each day of the week

In [ ]:
tips = pd.read_csv('./claude-sample.csv')
# Find all rows where the tip is more than 5
tips.loc[tips['tip'] > 5]
# Find all rows where the day is 'Sun' and the time is 'Dinner'
tips.loc[(tips['day'] == 'Sun') & (tips['time'] == 'Dinner')]
# Find the average tip for each day of the week
round(tips['tip'].mean(), 2)

## Basic Data Manipulation

8. How would you:
- Add a new column that calculates tip percentage?
- Rename a column?
- Drop a column?
- Handle missing values?

In [ ]:
# - Add a new column that calculates tip percentage
tips['percentage'] =  round(tips['tip'] / tips['total_bill'] * 100)
tips.iloc[0:5, [0,1,-1]]
# - Rename a column
tips.rename(columns={'percentage':'tip_percent'}, inplace=True)
display(tips)
# - Drop a column
tips.drop(columns=['tip_percent'], inplace=True)
# - Handle missing values
tips.dropna()

9. Sort the DataFrame:
- By total bill in descending order
- By day of the week and then by total bill
- By tip percentage you calculated earlier

In [88]:
# By total bill in descending order
tips.sort_values(['total_bill'], ascending=[0])

# By day of the week and then by total bill
tips.sort_values(['day', 'total_bill'], ascending=[0,0])
# Categorical Version of this
days_order = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']
tips['day'] = pd.Categorical(tips['day'], categories=days_order, ordered=True) #this code assigns a Categorical order of the Day Column
tips.sort_values(['day', 'total_bill'], ascending=[1,0])
# By tip percentage you calculated earlier
tips['percentage'] =  round(tips['tip'] / tips['total_bill'] * 100)
tips.sort_values(['percentage'], ascending=[1])

     total_bill   tip     sex smoker  day    time  size  percentage
237       32.83  1.17    Male    Yes  Sat  Dinner     2         4.0
0         16.99  1.01  Female     No  Sun  Dinner     2         6.0
57        26.41  1.50  Female     No  Sat  Dinner     2         6.0
102       44.30  2.50  Female    Yes  Sat  Dinner     3         6.0
184       40.55  3.00    Male    Yes  Sun  Dinner     2         7.0
..          ...   ...     ...    ...  ...     ...   ...         ...
183       23.17  6.50    Male    Yes  Sun  Dinner     4        28.0
232       11.61  3.39    Male     No  Sat  Dinner     2        29.0
67         3.07  1.00  Female    Yes  Sat  Dinner     1        33.0
178        9.60  4.00  Female    Yes  Sun  Dinner     2        42.0
172        7.25  5.15    Male    Yes  Sun  Dinner     2        71.0

[244 rows x 8 columns]