## Exercises with car Data

In [61]:
# Exercise no
import pandas as pd

car = pd.read_csv('./car.csv')
usa = car.loc[car['origin'] == 'japan', 'name']
# common_cylinder =

# print(usa)
usa.mode()

0    toyota corolla
Name: name, dtype: object

In [42]:
car.head(20)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
5,ford galaxie 500,15.0,8,429.0,198.0,4341,10.0,70,usa
6,chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
7,plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
8,pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
9,amc ambassador dpl,15.0,8,390.0,190.0,3850,8.5,70,usa
10,dodge challenger se,15.0,8,383.0,170.0,3563,10.0,70,usa
11,plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
12,chevrolet monte carlo,15.0,8,400.0,150.0,3761,9.5,70,usa
13,buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
14,toyota corona mark ii,24.0,4,113.0,95.0,2372,15.0,70,japan
15,plymouth duster,22.0,6,198.0,95.0,2833,15.5,70,usa
16,amc hornet,18.0,6,199.0,97.0,2774,15.5,70,usa
17,ford maverick,21.0,6,200.0,85.0,2587,16.0,70,usa
18,datsun pl510,27.0,4,97.0,88.0,2130,14.5,70,japan
19,volkswagen 1131 deluxe sedan,26.0,4,97.0,46.0,1835,20.5,70,europe